.start {
    background-color: greenyellow;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    

}
.start h3 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top:20%;
    color: black;
    transform: translateY(-50%);
}
.start input {
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: static;
    background-color: white;
    display: inline-block;
    font-size: 24px;
    color: black;
    margin-top: 300px;
    border-color: brown;
    width:332px;
    font-weight: bold;
}

body {
    background-color: rgba(199, 192, 192, 0.993);
    padding: 0;
    margin: 0;
}